<amc-alert class="amcErrorWrapper" header="Error" visible="visible" on-close="onClose()">
  <div class="amcErrorContent">
    <div class="amcErrorMessage">
      <span>The following error occurred:</span>
    </div>
    <div class="amcErrorMessage" ng-bind="message"></div>
  </div>
</amc-alert>
