<div class="amc-date-picker" ng-model="date" novalidate>
  <select class="month" ng-change="vm.updateDate()" ng-model="vm.month" ng-options="month for month in vm.months track by month">
    <option value="">Month</option>
  </select>
  <select ng-change="vm.updateDate()" ng-model="vm.day" ng-options="day for day in vm.days track by day">
    <option value="">Day</option>
  </select>
  <select ng-change="vm.updateDate()" ng-model="vm.year" ng-options="year for year in vm.years track by year">
    <option value="">Year</option>
  </select>
</div>
