<div class="amcAlertWrapper" ng-show="visible">
  <div class="amcAlertOverlay fixedFull"></div>

  <div class="amcAlertCenter fixedFull">
    <div class="amcAlert">
      <div class="amcAlertHeader" ng-bind="header"></div>
      <button class="amcAlertClose" ng-click="hide()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>

      <div class="amcAlertBody" ng-transclude></div>

      <div class="amcAlertFooter">
        <button class="btn" ng-click="hide()">OK</button>
      </div>
    </div>
  </div>
</div>
