.fixedFull
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.amcAlertOverlay
{
  background-color: black;
  opacity: .4;
}

.amcAlertCenter
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.amcAlert
{
  border-radius: 5px;
  background: linear-gradient(#eee, #ddd);
  min-width: 200px;
  border: 2px solid #727272;
}

.amcAlertHeader
{
  font-weight: bold;
  color: white;
  line-height: 33px;
  background: linear-gradient(#005D8A, #19194A);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.amcAlertHeader,
.amcAlertBody
{
  padding: 0 10px;
}

.amcAlertClose
{
  position: absolute;
  top: 3px;
  right: 3px;
  width: 30px;
  height: 26px;
  padding: 0;
}

.amcAlertFooter
{
  padding: 5px;
  text-align: right;
  border-top: 1px solid #ccc;
}

